*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#000;
}


.artist-hero{
  position:relative;
  height:95vh;
  width:100%;
  background-image:url(/c1.jpeg);
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:flex-end;
}

.overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(
    to bottom,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.9)
  );
}

.artist-content{
  position:relative;
  padding:60px;
  color:white;
}


.verified{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:18px;
  margin-bottom:10px;
}

.check{
  background:#1db954;
  color:black;
  font-size:14px;
  padding:4px 6px;
  border-radius:50%;
  font-weight:bold;
}


.artist-content h1{
  font-size:120px;
  font-weight:900;
  line-height:1;
}


.artist-content p{
  font-size:20px;
  opacity:0.9;
  margin-top:15px;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#0f0f0f;
  color:#fff;
}


.track-list{
  width:100%;
  margin:0px auto;
  background-image: url(/bg.png);
}


.track{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:14px 10px;
  border-radius:6px;
  transition:background 0.3s;
}

.track:hover{
  background:#1a1a1a;
}


.left{
  display:flex;
  align-items:center;
  gap:14px;
  width:50%;
}

.index{
  width:25px;
  color:#b3b3b3;
}

.left img{
  width:278px;
  height:208px;
  border-radius:4px;
  object-fit:cover;
}


.title{
  display:flex;
  flex-direction:column;
}

.title h4{
  font-size:46px;
  font-weight:500;
}


.explicit{
  background:#b3b3b3;
  color:#000;
  font-size:11px;
  width:16px;
  text-align:center;
  border-radius:3px;
  margin-top:4px;
}
.streams{
  width:25%;
  text-align:right;
  color:#b3b3b3;
}


.duration{
  width:8%;
  text-align:right;
  color:#b3b3b3;
}
